# import

In [1]:
import os
import numpy as np
import pandas as pd

In [16]:
np.arange(9)[np.newaxis,:]

array([[0, 1, 2, 3, 4, 5, 6, 7, 8]])

In [9]:
data_size=12
window_size=9
stride=1
win = np.arange(window_size)[np.newaxis,:]
strides = np.arange((data_size-window_size)//stride +1,step=stride)[:,np.newaxis]
win+strides

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9],
       [ 2,  3,  4,  5,  6,  7,  8,  9, 10],
       [ 3,  4,  5,  6,  7,  8,  9, 10, 11]])

In [ ]:
def slide_window_indexer(data_size,window_size=9,stride=1):
    win = np.arange(window_size)[np.newaxis,:]
    strides = np.arange((data_size-window_size)//stride +1,step=stride)[:,np.newaxis]
    return win+strides

In [26]:
raw_data = pd.read_csv("train.csv",encoding='big5')
raw_data.head(3)

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,豐原,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,豐原,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32

In [27]:
test_data = pd.read_csv("test.csv",encoding='big5')
test_data.head(2)

   id_0 AMB_TEMP    15    14  14.1    13  13.1  13.2  13.3  13.4    12
0  id_0      CH4   1.8   1.8   1.8   1.8   1.8   1.8   1.8   1.8   1.8
1  id_0       CO  0.36  0.35  0.34  0.33  0.33  0.34  0.34  0.37  0.42